			<center>
			<br><h3>
			Submit your sample	
			</h3><br>
			<form role="form" action="?submit" method=POST enctype='multipart/form-data'>
				<div class="form-group">
					 <label for="upfile">File to analyze (.exe)</label><input type="file" id="upfile" name="upfile">
					<p class="help-block">
						There's a limit of 1MB for uploading samples. Samples will be deleted after analysis.
					</p>
				</div>
				<!--
				<div class="form-group">
					 <label for="email">Email address (optional - #TODO)</label><input name="email" type="email" class="form-control" id="email">
					<p class="help-block">
						If you want to receive a link when the results are ready, type your email address
					</p>
				</div>-->
				<br><center><button type="submit" class="btn btn-default">Submit sample</button></center>
			</form>
		</div>
	</div>
</div>
<br>
</body>
</html>
